/* Gallery styles */

div.gallery {
			margin: 80px;
			float: left;
			width: 180px;
}

		div.gallery:hover {
}

		div.gallery img {
			width: 100%;
			height: auto;
}

		div.desc {
			padding: 20px;
			padding: 20px;
			text-align: center;

/* Heading styles */

h1{
    color: blue;
	position: relative;
	top: 30px;
}

/* Body styles */
body {
    font-family: 'Arial Rounded MT Bold', 'Lucida Calligraphy', serif;
    font-size: 50px;
    color: black;
    text-align: center;
    background-size: cover;
	position: relative;
	top: 30px;
}

/* Navigation link styles */
nav ul li a {
    font-size: 50px;
    color: black;
    margin: 500px;
    padding: 300px;
    border-width: 100px;
    text-decoration: none;
	position: relative;
	top: 50px;
}

/* Navigation link hover styles */
nav ul li a:hover {
    color: purple;
}

img {
  max-width: 50%;
  height: auto;
}

responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

#grad {
	background: linear-gradient(to bottom right, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
}