/* Gallery styles */
div.gallery {
    margin: 80px;
    float: left;
    width: 180px;
}

div.gallery:hover {
    /* Add hover effects if needed */
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 20px;
    text-align: center;
}

/* Body styles */
body {
    background-color: #bf00ff;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
 
}

/* Heading styles */
h1 {
    background-image: linear-gradient(-180deg, #ff0000, #ff2b00, #ff5500, #ff8000, #ffaa00, #ffd500, #ffff00, #d4ff00, #aaff00, #80ff00, #55ff00, #2bff00, #00ff00, #00ff2b, #00ff55, #00ff80, #00ffaa, #00ffd5, #00ffff, #00d4ff, #00aaff, #007fff, #0055ff, #002bff, #0000ff, #2a00ff, #5500ff, #7f00ff, #aa00ff, #d400ff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2, h3, h4 {
    font-family: 'Arial Rounded MT Bold', 'Lucida Calligraphy', serif;
    font-size: 50px;
    color: black;
    text-align: center;
    color: black;
    position: relative;
    top: 30px;
}

/* Paragraph styles */
p {
    font-family: 'Arial Rounded MT Bold', 'Lucida Calligraphy', serif;
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: 'Lucida Bright', 'Palatino Linotype', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Navigation link styles */
nav ul li a {
    font-size: 50px;
    color: black;
    margin: 500px;
    padding: 300px;
    border-width: 100px;
    text-decoration: none;
    position: relative;
    top: 50px;
}

/* Navigation link hover styles */
nav ul li a:hover {
    color: blue;
}

/* Responsive image styles */
img {
    max-width: 75%;
    height: auto;
}

/* Responsive container */
.responsive {
    padding: 6px;
    float: left;
    width: 25%;
}

/* Media */
@media screen and (max-width: 720px) {
		p {
          font-size: 1.5rem;
        }
      }
